.post-list {
	margin-bottom: 50px;
}

.ant-card {
	border-radius: 8px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	overflow: hidden;
}

.ant-card-cover .post-image-profile {
	object-fit: cover;
	width: 295px !important;
	height: 295px !important;
}

.post-card-profile {
	width: 295px !important;
	height: 295px !important;
}

.ant-card-meta-title {
	font-weight: bold;
}

.ant-card-actions span:hover {
	cursor: pointer;
	text-decoration: underline;
}

.ant-typography {
	margin-top: 10px;
	font-size: 14px;
	color: #555;
}

.ant-avatar {
	border: 2px solid #1890ff;
}
